<div id="hide_loading_site" style="display: block; position:fixed;z-index:100000000;width:100%;height:100%;background-color:#fff;left:0;top:0;">
    <div class="center">
        <!--<img style="margin-top: 200px; width: 50px; height: 50px;" src="typo3conf/ext/ww_template/Resources/Public/Images/loading.svg" alt="loading">-->
    </div>
</div>

<div id="outerDiv">
    <div id="outerContainer">
        <f:render partial="Structure/Header" arguments="{_all}" />
        <!--TYPO3SEARCH_begin-->
        <f:render section="Main" />
        <!--TYPO3SEARCH_end-->

    </div>
</div>
