<f:for each="{retails}" as="retail" iteration="iterator">

        <div class="col-md-4">
            <div class="title">
                <h2><f:link.action pageUid="{retail.uid}">{retail.title}</f:link.action></h2>
            </div>
            <div class="detail">
                <f:format.html parseFuncTSPath="">
                    <div class="infowindow">{retail.info_window}</div>
                </f:format.html>
            </div>
        </div>

</f:for>
