<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="ContentFooter" />

<f:section name="content">
	<hr class="ce ce-div" />
</f:section>
</html>
