
<f:comment> Only used for lib.stdheader purposes. </f:comment>
<div id="c{data.uid}" data-menu="{data.layout}" class="grid{data.tx_gridelements_container} ce ce-textmedia layout-{data.layout}">
	<div class="container">

		<div class="ce ce-headerOnly layout-{data.layout}">

			<f:render partial="Header" arguments="{_all}" />
		</div>

	</div>
</div>

