<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="c{data.uid}" data-menu="{data.layout}" class="grid{data.tx_gridelements_container} ce ce-textmedia layout-{data.layout}">
	<div class="container">

		<f:layout name="HeaderFooter" />
	</div>
</div>
</html>
