

<f:layout name="HeaderContentFooter" />
<f:section name="content">
	<div class="{data.list_type}">
		<div id="c{data.uid}" class="layout-{data.layout} {data.list_type}">
			<f:cObject typoscriptObjectPath="tt_content.list.20.{data.list_type}" data="{data}" />
		</div>
	</div>
</f:section>
</html>
