<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">




	<f:section name="content">
		<div id="c{data.uid}" class="layout-{data.layout} container">
			<f:layout name="ContentHeader" />
			<f:cObject typoscriptObjectPath="lib.loginbox" />
		</div>
	</f:section>


</html>
