<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="c{data.uid}" data-menu="{data.layout}" class="grid{data.tx_gridelements_container} ce ce-textmedia layout-{data.layout}">
	<div class="container">
		<f:if condition="{gallery.position.noWrap} != 1">
			<f:render partial="Header" arguments="{_all}" />
		</f:if>

		<div class="ce-textpic ce-{gallery.position.horizontal} col-md-offset-2 col-md-8 ce-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' ce-nowrap')}">
			<f:if condition="{gallery.position.vertical} != 'below'">
				<f:render partial="MediaGallery" arguments="{_all}" />
			</f:if>
			<f:if condition="{data.bodytext}">
				<div class="ce-bodytext">
					<f:if condition="{gallery.position.noWrap}">
						<f:render partial="Header" arguments="{_all}" />
					</f:if>
					<f:format.html>{data.bodytext}</f:format.html>
				</div>
			</f:if>

			<f:if condition="{gallery.position.vertical} == 'below'">
				<f:render partial="MediaGallery" arguments="{_all}" />
			</f:if>
		</div>
	</div>
	<f:render partial="Footer" arguments="{_all}" />
</div>
</html>
