
<br />
<br />
<br />
<h1>NEWS TEMPLATES</h1>
<h2>EXAMPLE</h2>






<br />
<br />
<br />
<pre>

<strong>Common markers:</strong>
These are substituted in all news item displaying templates:

<em>Markers:</em>
NEWS_UID - ID number (uid) of the news item
NEWS_TITLE - News item title
NEWS_AUTHOR - name of author
NEWS_EMAIL - email of author
NEWS_DATE - date
NEWS_TIME - time
NEWS_AGE - age of news item in minutes, hours, days or years
NEWS_SUBHEADER - subheader, if empty main content is inserted here in LIST and LATEST
NEWS_CONTENT - main content
NEWS_LINKS - news links
NEWS_CATEGORY - news item category
NEWS_CATEGORY_IMAGE - news item category image
NEWS_RELATED - links to related news
NEWS_IMAGE - news item images
NEWS_CATEGORY_ROOTLINE - category rootline

PAGE_UID - Page id of the parent page (pid)
PAGE_TITLE - Title of the parent page of the news item
PAGE_AUTHOR - Page author, if any
PAGE_AUTHOR_EMAIL - Page author email, if any

<em>News Language Markers (see pi/locallang.php):</em>
LATEST_HEADER - header for the LATEST element
GOTOARCHIVE - link to archive page in latest template
ARCHIVE_HEADER - same for AMENU
MORE - more ;-)
TEXT_CAT - text output before categories and category images in LIST view (eg: 'categories:')
TEXT_CAT_LATEST - the same in a shorter form for the LATEST element (eg: 'cat:')
BACK_TO_LIST - link back to list-view in single-view template
ARCHIVE_EMPTY_MSG - no items in archive
SEARCH_EMPTY_MSG - message for empty search results
TEXT_NEWS_AGE - text inserted before the age of the news item


<em>Wrapped Subparts:</em>
LINK_ITEM - link to the news item single display
LINK_PREV - used in the pagebrowser
BROWSE_LINKS - used in the pagebrowser
LINK_NEXT - used in the pagebrowser
</pre>


<!-- ###TEMPLATE_LIST2### begin
	This is the template for the list of news in the archive or news page or search
-->
<div class="news-list2-container">
    ###NEWS_CATEGORY_ROOTLINE###
    <!-- ###CONTENT### begin
          This is the part of the template substituted with the list of news:
    -->
    <!-- ###NEWS### begin -->
    <div class="list2-subdiv-hdr">
        <div class="hdr-left">
            <div class="row">
                <div class="col-xs-12 col-md-6 left text">
                    <div class="news-list-date">###NEWS_DATE###</div>
                    <div class="title"><h2>###NEWS_TITLE###</h2></div>
                    <div class="header">###NEWS_SUBHEADER###</div>
                </div>
                <div class="col-xs-12 col-md-6 right image">
                    <!--###LINK_ITEM###-->###NEWS_IMAGE###<!--###LINK_ITEM###-->
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!-- ###NEWS### end-->
        <!-- ###NEWS_1### begin -->
        <div class="hdr-right">
            <div class="row">
                <div class="col-xs-12 col-md-6 left image">
                    <!--###LINK_ITEM###-->###NEWS_IMAGE###<!--###LINK_ITEM###-->
                </div>
                <div class="col-xs-12 col-md-6 right text">
                    <div class="news-list-date">###NEWS_DATE###</div>
                    <div class="title"><h2>###NEWS_TITLE###</h2></div>
                    <div class="header">###NEWS_SUBHEADER###</div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
  </div>
    <!-- ###NEWS_1### end-->
</div>

    <!-- ###CONTENT###  end -->
</div>
<!-- ###TEMPLATE_LIST2### end -->



<br />
<br />
<br />
<br />
<hr />
<br />
<br />
<br />
<h3>TEMPLATE_SINGLE</h3>
<em>This subpart is used to display single news items</em><br />
<br />
<br />




<!-- ###TEMPLATE_SINGLE### begin
	This subpart is used to display single news items
-->
<div class="news-single-item">
    <div class="row">
            <div class="col-xs-12 col-md-6 left">
                ###NEWS_IMAGE###
            </div>
            <div class="col-xs-12 col-md-6 right">
                <div class="news-single-rightbox">
                    <div class="news-list-date">###NEWS_DATE###
                        <span class="pull-right">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=###GENERIC_URL###" target="_blank" ><img src="typo3conf/ext/ww_template/Resources/Public/Images/FBNews.png" height="25px" /></a>
                            <a href="https://twitter.com/home?status=###GENERIC_URL### " target="_blank" ><img src="typo3conf/ext/ww_template/Resources/Public/Images/TNews.png" height="25px" /></a>
                            <a href="mailto:?subject=STEP&body=###GENERIC_URL### " ><img src="typo3conf/ext/ww_template/Resources/Public/Images/MNews.png" height="25px" /></a>
                            <a href="#" onclick="print();return false;" ><img src="typo3conf/ext/ww_template/Resources/Public/Images/PNews.png" height="25px" /></a>
                        </span>
                    </div>
                </div>
                <h1>###NEWS_TITLE###</h1>

                <div class="subheader">###NEWS_SUBHEADER###</div>
                <div class="ce-bodytext">###NEWS_CONTENT###</div>
                <div class="backlink"><!--###LINK_ITEM###-->###BACK_TO_LIST###<!--###LINK_ITEM###--></div>
            </div>
    </div>
</div>
<!-- ###TEMPLATE_SINGLE### end -->










<br />
<br />
<br />
<br />
<hr />
<br />
<br />
<br />
<h3>TEMPLATE_ARCHIVE</h3>
<em>Subpart for the news archive menu.</em><br />
<br />
<br />
<!-- ###TEMPLATE_ARCHIVE### begin
	Subpart for the news archive menu
 -->
<div class="news-amenu-container">
    <ul>
        <!-- ###CONTENT### begin -->
        <!-- ###MENUITEM### begin -->
        ###ARCHIVE_YEAR###
        <li ###ARCHIVE_ACTIVE###><!--###LINK_ITEM###-->###ARCHIVE_TITLE###: ###ARCHIVE_COUNT### ###ARCHIVE_ITEMS###<!--###LINK_ITEM###--></li>
        <!-- ###MENUITEM### end-->
        <!-- ###CONTENT###  end -->
    </ul>
</div>
<!-- ###TEMPLATE_ARCHIVE### end -->


<br />
<br />
<br />
<br />
<hr />
<br />
<br />
<br />
<h3>TEMPLATE_ARCHIVE_NOITEMS</h3>
<em>Shown if the archive has no items!</em><br />
<br />
<br />
<!-- ###TEMPLATE_ARCHIVE_NOITEMS### begin
	Shown if the archive has no items!
-->
<div class="news-amenu-container">
    <ul>
        <li>###ARCHIVE_EMPTY_MSG###</li>
    </ul>
</div>
<!-- ###TEMPLATE_ARCHIVE_NOITEMS### end -->






<br />
<br />
<br />
<br />
<hr />
<br />
<br />
<br />
<h3>TEMPLATE_SEARCH</h3>
<em>Subpart for the search-form.</em><br />
<br />
<br />

<!-- ###TEMPLATE_SEARCH### begin
	Subpart for the search-form
-->
<div class="news-search-form">
    <form method="post" action="###FORM_URL###">
        <input size="30" maxlength="100" type="text" name="tx_ttnews[swords]" value="###SWORDS###" />
        <span class="news-search-form-submit"><input type="submit" name="search" value="###SEARCH_BUTTON###" /></span>
    </form></div>
<!-- ###TEMPLATE_SEARCH### end -->

<br />
<hr /><br />
<h3>
    this is shown if the search result is empty </h3>
<br />

<!-- ###TEMPLATE_SEARCH_EMPTY### begin -->
<div class="news-search-emptyMsg">###SEARCH_EMPTY_MSG###</div>
<!-- ###TEMPLATE_SEARCH_EMPTY### end -->

<br /><br />
<br />
<hr /><br />
<h3>TEMPLATE_HEADER_LIST</h3>
<em>shows a list of news titles</em><br />

<br />
<!-- ###TEMPLATE_HEADER_LIST### begin -->

<!-- ###CONTENT### begin
      This is the part of the template substituted with the list of news:
-->
<!-- ###NEWS### begin
    Template for a single item
-->
<div class="news-header-list-container">
    <div class="news-header-list-title"> <!--###LINK_ITEM###-->###NEWS_TITLE###<!--###LINK_ITEM###--></div>
    <div class="news-header-list-time"> ###NEWS_TIME###</div>
    <div class="news-header-list-categories">###TEXT_CAT_LATEST### ###NEWS_CATEGORY### ###NEWS_CATEGORY_IMAGE###</div>

</div>

<!-- ###NEWS### end-->

<!-- ###CONTENT###  end -->
###BROWSE_LINKS###

<!-- ###TEMPLATE_HEADER_LIST### end -->
<br /><br />
<br />
<hr /><br />
<h3>TEMPLATE_CAT_RELATED</h3>
<em>shows a list of related news with the same category</em><br />

<br />
<!-- ###TEMPLATE_CAT_RELATED### begin -->
<!-- ###CONTENT### begin
      This is the part of the template substituted with the list of news:
-->
<!-- ###NEWS### begin
    Template for a single item
-->
###GW2B### <!--###LINK_ITEM###-->###NEWS_TITLE###<!--###LINK_ITEM###-->  ###NEWS_DATE### ###NEWS_TIME###  ###GW2E###
<!-- ###NEWS### end-->
<!-- ###CONTENT###  end -->
<!-- ###TEMPLATE_CAT_RELATED### end -->

<br />
<br />
<br />

<!-- ###TEMPLATE_RELATED### begin -->
<!-- ###CONTENT### begin
      This is the part of the template substituted with the list of news:
-->
<!-- ###NEWS### begin
    Template for a single item
-->
<!--###LINK_ITEM###-->###NEWS_IMAGE###<!--###LINK_ITEM###-->
###GW2B### <!--###LINK_ITEM###-->###NEWS_TITLE###<!--###LINK_ITEM###-->  ###NEWS_DATE### ###NEWS_TIME###  ###GW2E###
<!-- ###NEWS### end-->
<!-- ###CONTENT###  end -->
<!-- ###TEMPLATE_RELATED### end -->
