<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Content" />
<f:section name="content">
	<div id="c{data.uid}" data-menu="{data.layout}" class="grid{data.tx_gridelements_container} ce ce-textmedia layout-{data.layout}">

		<f:if condition="{files}">
			<div class="container">
				<f:render partial="Header" arguments="{_all}" />
				<div class="col-md-9 col-md-offset-2">
					<div class="layout-{data.layout}">
						{data.rowDescription}
					</div>
				</div>
				<div class="col-md-9 col-md-offset-2">
					<div class="ce-bodytext">
						<f:for each="{files}" as="file" iteration="fileIterator">
						<ul class="ce-uploads">
							<li>
								<f:if condition="{data.uploads_type} == 1">
									<!--<img width="50" src="{f:uri.resource(path: 'Icons/FileIcons/{file.extension}.png', extensionName: 'ww_template')}" alt="">-->
								</f:if>

								<f:if condition="{data.uploads_type} == 2">
									<f:if condition="{f:uri.image(src: 'file:{f:if(condition: file.originalFile, then: \'file:{file.originalFile.uid}\', else: \'file:{file.uid}\')}')} != '/'">
										<f:then>
											<a href="{file.publicUrl}">
												<f:media file="{file}" width="150" alt="{file.properties.alternative}" />
											</a>
										</f:then>
										<f:else>
											<img src="{f:uri.resource(path: 'Icons/FileIcons/{file.extension}.gif', extensionName: 'frontend')}" alt="">
										</f:else>
									</f:if>
								</f:if>
								<f:if condition="{file.properties.title}">
									<f:then>
												<a href="{file.publicUrl}" class="upload-{file.extension}" >
													{file.properties.title}
												</a>
													<f:if condition="{data.filelink_size}">
														(<f:format.bytes value="{file.properties.size}" />)
													</f:if>
									</f:then>
									<f:else>
										<f:if condition="{file.name}">
												<a href="{file.publicUrl}" class="upload-{file.extension}" >
													{file.name}
												</a>
												<f:if condition="{data.filelink_size}">
													(<f:format.bytes value="{file.properties.size}" />)
												</f:if>
										</f:if>
									</f:else>
								</f:if>

								<f:if condition="{file.properties.description}">
									<f:if condition="{data.uploads_description}">
								<span class="ce-uploads-description">
									{file.properties.description}
								</span>
									</f:if>
								</f:if>
							</li>
						</ul>
					</f:for>
					</div>
				</div>
			</div>
		</f:if>
		<f:if condition="{data.linkToTop}">
			<div class="container">
				<div class="toTop">
					<ce:link.section name="top"><f:translate key="toTop" extensionName="fluid_styled_content" /></ce:link.section>
				</div>
			</div>
		</f:if>
	</div>
</f:section>
</html>
