
<div class="galery">
    <div class="container galeryContainer">
        <f:for each="{galleries}" as="image">
            <div class="galeryImage">
                <a href="{f:uri.image(src: '{image.properties.uid}')}" rel="lightbox"><f:media class="" file="{image}" width="600"/></a>
            </div>
        </f:for>
    </div>
</div>

