
<f:layout name="Default" />

<f:section name="main">
<h1>Listing for Collection</h1>

<f:flashMessages />

<table  class="tx_wwstep" >
	<tr>
		<th><f:translate key="tx_wwstep_domain_model_collection.name" /></th>
	</tr>

	<f:for each="{collections}" as="collection">
		<tr>
			<td><f:link.action action="show" arguments="{collection : collection}"> {collection.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{collection : collection}"> {collection.description}</f:link.action></td>
		</tr>
	</f:for>
</table>
</f:section>