<div id="c{data.uid}" data-menu="{data.layout}" class="ce multicolumnContainer element2cols clearfix layout-{data.layout}">
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-md-offset-2">
                <f:format.html parseFuncTSPath="" >
                    {data.tx_gridelements_view_column_25}
                </f:format.html>
            </div>
            <div class="col-md-6">
                <f:format.html parseFuncTSPath="">
                    {data.tx_gridelements_view_column_75}
                </f:format.html>
            </div>
        </div>
    </div>
</div>
