<div id="c{data.uid}" data-menu="{data.layout}" class="ce multicolumnContainer element2cols clearfix layout-{data.layout}">
    <div class="container">
        <div class="row">
            <div class="firstcol column column1 columnFirst col-md-6">
                <f:format.html parseFuncTSPath="">
                    {data.tx_gridelements_view_column_30}
                </f:format.html>
            </div>
            <div class="secondcol column column2 columnSecond col-md-6">
                <f:format.html parseFuncTSPath="">
                    {data.tx_gridelements_view_column_31}
                </f:format.html>
            </div>
        </div>
    </div>
</div>
