<div class="row">
    <div class="col-md-3">
        <f:format.html parseFuncTSPath="">
            {data.tx_gridelements_view_column_20}
        </f:format.html>
    </div>
    <div class="col-md-3">
        <f:format.html parseFuncTSPath="">
            {data.tx_gridelements_view_column_21}
        </f:format.html>
    </div>
    <div class="col-md-3">
        <f:format.html parseFuncTSPath="">
            {data.tx_gridelements_view_column_22}
        </f:format.html>
    </div>
    <div class="col-md-3">
        <f:format.html parseFuncTSPath="">
            {data.tx_gridelements_view_column_23}
        </f:format.html>
    </div>
</div>