

<div class="mainNav navbar navbar-top{f:if(condition:logoFile,then:' navbar-has-image')}" role="navigation">

    <div class="container desktop">
        <f:cObject typoscriptObjectPath="lib.mainNav" />
    </div>


</div>

