<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="c{data.uid}"  class="layout-{data.layout}">
	<f:render section="content" />
	<f:render partial="Footer" arguments="{_all}" />
</div>
</html>
