<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="c{data.uid}" class="container layout-{data.layout}">
	<f:render partial="Header" arguments="{_all}" />
	<f:render section="content" />
</div>
</html>
