
<div class="container carpetDetail" xmlns:f="http://www.w3.org/1999/html">
	<div class="row">
		<div class="col-md-6 absolute">

			<ww:gray path="{carpet.images.0.originalResource.originalFile.identifier}"></ww:gray>
			<f:image class="image" src="{carpet.images.0.uid}" treatIdAsReference="1"  width="1200"/>

		</div>

		<div class="col-md-5 pull-right">
			<span class="pull-right">
				<a href="https://www.facebook.com/sharer/sharer.php?u={pageUri}" target="_blank" ><img src="typo3conf/ext/ww_template/Resources/Public/Images/FBInvert.png" height="25px" /></a>
				<a href="https://twitter.com/home?status={pageUri}" target="_blank" ><img src="typo3conf/ext/ww_template/Resources/Public/Images/TInvert.png" height="25px" /></a>
				<a href="mailto:?subject=STEP&body={pageUri}" ><img src="typo3conf/ext/ww_template/Resources/Public/Images/MInvert.png" height="25px" /></a>
				<a href="#" onclick="print(); return false;" ><img src="typo3conf/ext/ww_template/Resources/Public/Images/PInvert.png" height="25px" /></a>
			</span>

			<f:if condition="{brands.images.uid}">
				<p><f:image class="brandThumb" src="{brands.images.uid}" treatIdAsReference="1" width="160"/></p>
			</f:if>
			<label><f:translate key="partner" /></label>

			<f:if condition="{brands2.group}">
				<f:then>
					<p><f:link.page pageUid="27" additionalParams="{tx_wwstep_pi2:'{group:brands2.group.uid,filter:{group:brands2.group.uid}}'}">{brands2.group.name}</f:link.page></p>
				</f:then>
				<f:else>
					<f:if condition="{brands2.uid}">
						<p><f:link.page pageUid="{brands2.uid}">{brands2.title}</f:link.page></p>
					</f:if>
				</f:else>
			</f:if>

			<label><f:translate key="collection" /></label>
			<p>{carpet.collection.name}</p>

			<label><f:translate key="country" /></label>
			<p>{carpet.country.0.name}</p>

			<label><f:translate key="carpettype" /></label>
			<p>
				<f:for each="{carpet.art}" as="art" iteration="i">
					<f:if condition="{i.isLast}">
						<f:then>
							{art.name}
						</f:then>
						<f:else>
							{art.name};
						</f:else>
					</f:if>
				</f:for>
			</p>

			<label><f:translate key="material" /></label>
			<p>
				<f:for each="{carpet.material}" as="material" iteration="i">
					<f:if condition="{i.isLast}">
						<f:then>
							{material.name}
						</f:then>
						<f:else>
							{material.name};
						</f:else>
					</f:if>
				</f:for>
			</p>

			<label><f:translate key="color" /></label>
			<p>
				<f:for each="{carpet.color}" as="color" iteration="i">
					<f:if condition="{i.isLast}">
						<f:then>
							{color.name}
						</f:then>
						<f:else>
							{color.name};
						</f:else>
					</f:if>
				</f:for>
			</p>
			<p><f:format.html parseFuncTSPath="lib.parseFunc_RTE">{carpet.collection.description}</f:format.html></p>
			<p class="">{carpet.title}</p>
			<p class=""><f:format.html parseFuncTSPath="lib.parseFunc_RTE">{carpet.description}</f:format.html></p>
		</div>
	</div>
</div>
