{namespace ww=Webwaren\WwStep\ViewHelpers}

<div id="countries" xmlns:f="http://www.w3.org/1999/html">
        <f:form name="filter" action="listSearchResults" id="filterForm" noCacheHash="1">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <label><f:translate key="partner" /></label>
                        <div class="select-style">
                            <f:form.select prependOptionLabel="{f:translate(key: 'choose')}"
                                       options="{partner}"
                                       name="partner"
                                       optionLabelField="name"
                                       optionValueField="uid"
                                       prependOptionValue=""
                                       sortByOptionLabel="true"
                                       value="{filterPartner}"
                                       class="form-control col-md-12"
                                       additionalAttributes="{onChange : 'if(document.getElementById(\'collectionpulldown\')) {document.getElementById(\'collectionpulldown\').selectedIndex = 0;} document.filter.submit();'}"></f:form.select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <f:if condition="{collection}">
                            <label><f:translate key="collection" /></label>
                            <div class="select-style">
                                <f:form.select prependOptionLabel="{f:translate(key: 'choose')}"
                                           options="{collection}"
                                           name="collection"
                                           id="collectionpulldown"
                                           optionLabelField="name"
                                           value="{filterCollection}"
                                           class="form-control col-md-12"
                                           additionalAttributes="{onChange : 'document.filter.submit();'}"></f:form.select>
                            </div>
                        </f:if>
                    </div>

                    <div class="col-md-2">
                        <label><f:translate key="country" /></label>
                        <f:for each="{countries}" as="country" iteration="iterator">
                            <div class="filterItem">
                                <ww:contains key="{country.uid}" array="{filter.country}">
                                    <f:then>

                                        <f:form.checkbox id="country{iterator.index}" property="country" value="{country.uid}" checked="1" multiple="1" additionalAttributes="{onChange : 'document.filter.submit();'}" />
                                        <label for="country{iterator.index}">{country.name}<span></span></label>

                                    </f:then>
                                    <f:else>


                                        <f:form.checkbox id="country{iterator.index}" property="country" value="{country.uid}"  multiple="1" additionalAttributes="{onChange : 'document.filter.submit();'}" />
                                        <label for="country{iterator.index}">{country.name}<span></span></label>

                                    </f:else>
                                </ww:contains>
                            </div>
                        </f:for>


                    </div>

                    <div class="col-md-2">
                        <label><f:translate key="teppichart" /></label><br/>
                        <f:for each="{arts}" as="art" iteration="iterator">
                            <div class="filterItem">
                                <ww:contains key="{art.uid}" array="{filter.art}">
                                    <f:then>
                                        <f:form.checkbox id="art{iterator.index}" property="art" value="{art.uid}" checked="1" multiple="1" additionalAttributes="{onChange : 'document.filter.submit();'}"/>
                                        <label for="art{iterator.index}">{art.name}<span></span></label>
                                    </f:then>
                                    <f:else>
                                        <f:form.checkbox id="art{iterator.index}" property="art" value="{art.uid}"  multiple="1" additionalAttributes="{onChange : 'document.filter.submit();'}"/>
                                        <label for="art{iterator.index}">{art.name}<span></span></label>
                                    </f:else>
                                </ww:contains>
                            </div>
                        </f:for>
                    </div>

                    <div class="col-md-2">
                        <label><f:translate key="material" /></label><br/>
                        <f:for each="{materials}" as="material" iteration="iterator">
                            <div class="filterItem">
                                <ww:contains key="{material.uid}" array="{filter.material}">
                                    <f:then>
                                        <f:form.checkbox id="material{iterator.index}" property="material" value="{material.uid}" checked="1" multiple="1" additionalAttributes="{onChange : 'document.filter.submit();'}"/>
                                        <label for="material{iterator.index}">{material.name}<span></span></label>
                                    </f:then>
                                    <f:else>
                                        <f:form.checkbox id="material{iterator.index}" property="material" value="{material.uid}"  multiple="1" additionalAttributes="{onChange : 'document.filter.submit();'}"/>
                                        <label for="material{iterator.index}">{material.name}<span></span></label>
                                    </f:else>
                                </ww:contains>
                            </div>
                        </f:for>
                    </div>

                    <div class="col-md-2">
                        <label><f:translate key="color" /></label><br/>
                        <f:for each="{colors}" as="color" iteration="iterator">
                            <div class="filterItem">
                                <ww:contains key="{color.uid}" array="{filter.color}">
                                    <f:then>
                                        <f:form.checkbox id="color{iterator.index}" property="color" value="{color.uid}" checked="1" multiple="1" additionalAttributes="{onChange : 'document.filter.submit();'}"/>
                                        <label for="color{iterator.index}">{color.name}<span></span></label>
                                    </f:then>
                                    <f:else>
                                        <f:form.checkbox id="color{iterator.index}" property="color" value="{color.uid}"  multiple="1" additionalAttributes="{onChange : 'document.filter.submit();'}"/>
                                        <label for="color{iterator.index}">{color.name}<span></span></label>
                                    </f:else>
                                </ww:contains>
                            </div>
                        </f:for>
                    </div>
                    <f:comment><f:form.button type="reset" name="reset" value="reset" formmethod="post" formnovalidate="formnovalidate"><f:translate key="reset" /></f:form.button></f:comment>

            </f:form>



    <f:comment><f:link.action pageUid="24"><f:translate key="reset" /></f:link.action></f:comment>
</div>

