
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Group</h1>

<f:flashMessages />

<table  class="tx_wwstep" >
	<tr>
		<th><f:translate key="tx_wwstep_domain_model_group.name" /></th>
		<th><f:translate key="tx_wwstep_domain_model_group.description" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{groups}" as="group">
		<tr>
			<td><f:link.action action="show" arguments="{group : group}"> {group.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{group : group}"> {group.description}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{group : group}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{group : group}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Group</f:link.action>
</f:section>