<h2>ww_gallery</h2>
Bei dieser Plugin kann man nur Bilder aus der Dateiliste hinzufügen. Die Auswahl von Bilder kann per Kategorie oder durch einen Ordner erfolgen.

<h2>ww_step</h2>

<b>Step Google Map</b>
<p>
 <ul>
 <li><i>Alle Step-Partner:</i> Alle Step-Partner werden aufgelistet mit der Google Map. Kann man anhand der Suche filtern.</li>
 <li><i>Alle Hersteller:</i> Werden alle Länder aufgelistet, welche unter Länder zu finden sind.</li>
 <li><i>Haendleransicht:</i> Wird automatisch anhand der hinterlegte Koordinationdaten den jeweiligen Händler angezeigt.</li>
</ul>
</p>

<b>Step-Händlerverzeichnis</b>
<p>Alle Händler werden aufgelistet, ohne eine Suche sowie Google Maps.</p>

<b>Step Teppich Gallery</b>

<p>
<ul>
 <li><i>Suchfunktion:</i>Die Suchfunktion für Teppiche. Man kann nur filtern.</li>
 <li><i>Teppich vom Hersteller:</i>Hier werden alle Teppichbilder, die zum Händler hinterlegt sind, ausgegeben. Es werden nur die Teppichbilder ausgegeben.</li>
</ul>
</p>

<h2>Tutorial</h2>
<h3>Händler</h3>
<p>Zuerst Händlergruppe erstellen zum Beispiel "Pfister". Danach die jeweilige Seite unter Händlerverzeichnis erstellen.</p>

<p><f:image src="EXT:ww_step/Resources/Public/Images/retailgroup.png" width="450px"/></p>


<p>Falls der Händler eine Marke ist wie bei Jan Kath, nachtragend im Händlergruppe entsprechend anpassen<br/>
 <p><f:image src="EXT:ww_step/Resources/Public/Images/brands.png" width="250px"/></p>
Aber zuerst Eine Händler unter Händlerverzeichnis erstellen und die Gruppe zuweisen!</p>
<p><f:image src="EXT:ww_step/Resources/Public/Images/referRetail.png" width="350px"/></p>


<h3>Teppich</h3>
<p>Zuerst die Kollektionen erstellen, bevor man die einzelne Teppich erstellt. Ohne eine Kollektion kann<br/>
man keine Teppiche erstellen.</p>



<h3>Länder</h3>
<p>Wenn man Länder erstellt, sollte man bei Untertitel den englischen Begriff reinschreiben, damit Google bei Weltkarte es besser anzeigen kann.</p>
<p><f:image src="EXT:ww_step/Resources/Public/Images/pages.png" width="550px"/></p>


