{namespace ww=Webwaren\WwStep\ViewHelpers}
<f:layout name="Default" />


<f:section name="main">
<div id="retailers" xmlns:f="http://www.w3.org/1999/html">
	<div class="container">
		<div class="row">
			<f:form name="filter" action="list" id="filterForm" noCacheHash="1" >
				<div class="col-md-4">

					<label><f:translate key="retailerdirectory" /></label>
					<div class="select-style">
						<f:form.select prependOptionLabel="{f:translate(key: 'choose')}"
								   options="{country}"
								   name="country"
								   optionLabelField="name"
								   value="{filterCountry}"
								   class="form-control col-md-12 filterCountry"></f:form.select>
					</div>
				</div>
				<div class="col-md-4">
					<label><f:translate key="A-Z" /></label>
					<div class="select-style">
						<f:form.select prependOptionLabel="{f:translate(key: 'choose')}"
								   options="{group}"
								   property="group"
								   optionLabelField="name"
								   value="{filterGroup}"
								   class="form-control col-md-12 filterGroup" ></f:form.select>
					</div>
				</div>
				<div class="col-md-4">
					<label><f:translate key="art" /></label>
					<div class="filterItem">
						<f:form.checkbox id="retail" class="retail" name="retail" value="0" />
						<label for="retail"><f:translate key="retailer" /><span></span></label>
					</div>
					<div class="filterItem">
						<f:form.checkbox id="wholesaler" class="retail" name="retail" value="1" />
						<label for="wholesaler"><f:translate key="wholesaler" /><span></span></label>
					</div>

				</div>
			</f:form>
		</div>
	</div>

	<ww:gmap address="{retails}" id="map" settings="{settings}"/>
	<div id="retailersList">
		<div class="container">
<f:comment>
			<div class="reset"><f:link.action pageUid="27"><f:translate key="reset" /></f:link.action></div><br /><br />
			<input type="text" class="searchKey" />
			<input type="submit" name="searchKey" value="suchen" class="searchBtn" />
			<br/>
</f:comment>
			<div id="listRetail">
				<f:render partial="Retail/ListItem" arguments="{retails:retails}" />
			</div>
		</div>
	</div>
</f:section>
</div>
