{namespace ww=Webwaren\WwStep\ViewHelpers}
<div class="container">
    <div class="row">
        <f:form name="filter" action="listRetail" id="filterForm" noCacheHash="1" >
        <div class="col-md-4">
            <label><f:translate key="retailerdirectory" /></label>
            <div class="select-style">
                <f:form.select prependOptionLabel="wählen"
                           options="{country}"
                           name="country"
                           optionLabelField="name"
                           value="{filterCountry}"
                           class="form-control col-md-12"
                           additionalAttributes="{onChange : 'document.filter.submit();'}"></f:form.select>
            </div>
        </div>
        <div class="col-md-4">
            <label><f:translate key="A-Z" /></label>
            <div class="select-style">
                <f:form.select prependOptionLabel="wählen"
                           options="{group}"
                           property="group"
                           optionLabelField="name"
                           value="{filterGroup}"
                           class="form-control col-md-12"
                           additionalAttributes="{onChange : 'document.filter.submit();'}"></f:form.select>
            </div>
        </div>
        <f:comment>
        <div class="col-md-4">
            <div class="filterItem">
                <label><f:translate key="art" /></label>
                <f:form.checkbox class="retail" name="retail[]" value="0" /><f:translate key="retailer" /><br/>
                <f:form.checkbox class="retail" name="retail[]" value="1" /><f:translate key="wholesaler" />
            </div>
        </div>
        </f:comment>
        </f:form>
        <f:link.action pageUid="29"><f:translate key="reset" /></f:link.action>
    </div>
</div>

<h1><f:translate key="allretailer" /></h1>
<f:render partial="Retail/ListItem" arguments="{retails:retails}" />
