<div id="map" style="width:100%; height:100%;">
    <script type="text/javascript">

        var lat = '{map.latitude}';
        var lng = '{map.longitude}';

        function myMap() {
            
            var mapCanvas = document.getElementById("map");
            var mapOptions ={
                center: new google.maps.LatLng(lat,lng),
                scrollwheel: false,
                draggable: true,
                disableDoubleClickZoom: true,
                zoomControl: true,
                navigationControl: false,
                mapTypeControl: true,
                scaleControl: false,
                streetViewControl:false,
                zoom: 15
            }

            map = new google.maps.Map(mapCanvas, mapOptions);

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat,lng),
                map: map
            });

        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcFCft5XAvpdxZ0DL1lvD3iU4OMEjkypE&test={map.apiKey}&callback=myMap"></script>
</div>
