
<table class="tx-ww-step" >
	<tr>
		<td>
			<f:translate key="tx_wwstep_domain_model_collection.name" />
		</td>
		<td>
		{collection.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wwstep_domain_model_collection.description" />
		</td>
		<td>
		{collection.description}
		</td>
	</tr>
</table>