<f:if condition="{showFooter}">
    <f:then>
        <footer>
            <div id="footer">
                <f:if condition="{showCopyright}">
                    <f:then>
                        <div id="copyright">
                            {f:translate(key: 'LLL:EXT:ww_template/Resources/Private/Language/template_webwaren.xlf:copyright')}
                        </div>
                    </f:then>
                </f:if>
                <f:if condition="{showFooterMenu}">
                    <f:then>
                        <nav>
                            <f:cObject typoscriptObjectPath="lib.footerNav" />
                        </nav>
                    </f:then>
                </f:if>
                <f:if condition="{showSvnVersion}">
                    <f:then>
                        {namespace svn=webwaren\ww_template\ViewHelpers}
                        SVN Version: <svn:SvnVersion test="{siteTitle}" />
                    </f:then>
                </f:if>

                <f:cObject typoscriptObjectPath="lib.contentFooter" />
            </div>
        </footer>
    </f:then>
</f:if>
