{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:cObject typoscriptObjectPath="lib.accesskeynav" xmlns:f="http://www.w3.org/1999/html"
           xmlns:f="http://www.w3.org/1999/html"/>
<header>
    <div id="header">
        <div id="hamburger"></div>
        <div id="searchBoxIcon">suchen</div>
        <div id="searchBoxLayer">
            <div id="closesearch"></div>
            <div class="innerSearch clearfix">
                <f:cObject typoscriptObjectPath="lib.searchbox" />
                <div id="searchResults">

                </div>
            </div>
        </div>
        <div id="interlude">
            <div id="logoBig"><f:link.action pageUid="1" /></div>
            <h1><f:format.html>{pageTitle}</f:format.html></h1>
        </div>
        <div id="sidr">
            <div id="close">

            </div>
            <div id="logoBig"><f:link.action pageUid="1" /></div>
                <div class="desktop menu">
                    <nav>
                        <f:render partial="Page/Navigation/Main" arguments="{_all}" />

                    </nav>
                    <nav>
                        <f:cObject typoscriptObjectPath="lib.langNav" />
                    </nav>
                    <div class="metaNav">

                            <nav>
                                <f:cObject typoscriptObjectPath="lib.metaNav" />
                            </nav>
                    </div>

                </div>
            <div class="mail"><a href="mailto:info@label-step.org">info@label-step.org</a></div>
            <div class="socialMedia">
                <div class="facebook">
                    <a href="https://www.facebook.com/LabelSTEP/" target="_blank">Facebook</a>
                </div>
                <div class="pintrest">
                    <a href="https://www.instagram.com/labelstep/" target="_blank">Instagram</a>
                </div>
            </div>
            <f:comment>
                <div class="socialMedia">
                    {f:translate(key: 'LLL:EXT:ww_template/Resources/Private/Language/locallang.xlf:teilen')}
                    <div><f:link.typolink parameter="https://www.facebook.com/sharer/sharer.php?u={pageUri} 500x400" >Facebook</f:link.typolink></div>
                    <div><f:link.typolink parameter="https://twitter.com/home?status={pageUri} 500x400" >Twitter</f:link.typolink></div>
                    <div><f:link.typolink parameter="https://plus.google.com/share?url={pageUri} 500x400" >google plus</f:link.typolink></div>
                </div>
            </f:comment>
        </div>
        <div id="top" class="container">
            <div class="row">
                <div class="col-md-1"><div id="logoSmall"><f:link.action pageUid="1" /></div></div>
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <f:cObject typoscriptObjectPath="lib.level" />
                    <f:cObject typoscriptObjectPath="lib.subNav" />
                </div>
            </div>
        </div>

    </div>


</header>


