{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<ce:menu.directory pageUids="{pageUids}" as="pages">
	<f:if condition="{pages}">
		<div class="container">
			<ul class="ce-menu ce-menu-1">
				<f:for each="{pages}" as="page">
					<li class="pid{page.uid}">




									<v:page.resources.fal table="pages" field="media" uid="{page.uid}" as="images">
										<f:if condition="{images}">
											<f:for each="{images}" as="image">
												<f:link.page pageUid="{page.uid}">
													<div class="sectionImage" style="background-image: url({f:uri.image(src: '{image.uid}', treatIdAsReference:'true', maxWidth:'600' )});"></div>
													{page.title}
												</f:link.page>

											</f:for>
										</f:if>
									</v:page.resources.fal>



					</li>
				</f:for>
			</ul>
		</div>
	</f:if>
</ce:menu.directory>
</html>
