
<f:layout name="Default" />

<f:section name="main">
<f:render partial="Carpet/search" arguments="{partner:partner,collection:collection,countries:countries,arts:arts,materials:materials,colors:colors}"/>

</div>
	<f:if condition="{carpets}">
		<f:then>
			<f:render partial="Carpet/CountResults" arguments="{carpets:carpets}" />
			<f:widget.paginate objects="{carpets}" as="paginatedCarpets"
							   configuration="{itemsPerPage: 15, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 10,noCacheHash:'true', addQueryStringMethod: 'GET,POST'}">

				<div class="galeryContainer">
					<f:for each="{paginatedCarpets}" as="pagedCarpet" iteration="eventIterator">

						<f:for each="{pagedCarpet.images}" as="carpetImage">
							<f:link.action class="dataItem" action="show" arguments="{carpet : pagedCarpet}"><f:image class="galeryImage" src="{carpetImage.uid}" treatIdAsReference="true" width="800" /></f:link.action>
						</f:for>

					</f:for>
				</div>
			</f:widget.paginate>
		</f:then>
	</f:if>

</f:section>
