<f:comment>
    <f:if condition="carpets">
        <div class="container galeryContainer">


            <f:for each="{carpets}" as="carpett">

                <div class="galeryImage">
                    <f:for each="{carpett}" as="carpet">
                        <f:if condition="{carpet.images.0.uid}">
                            <f:link.action action="show" arguments="{carpet : carpet}"><f:image src="{carpet.images.0.uid}" treatIdAsReference="true" width="1200"/></f:link.action>
                        </f:if>
                    </f:for>
                </div>
            </f:for>
        </div>
    </f:if>
</f:comment>
<f:comment>
    <f:render partial="Carpet/search" arguments="{partner:partner,collection:collection,countries:countries,arts:arts,materials:materials,colors:colors}"/>
</f:comment>


    <f:if condition="{carpets}">
        <f:then>
            <f:widget.paginate objects="{carpets}" as="paginatedCarpets"
                               configuration="{itemsPerPage: 15, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 10, addQueryStringMethod: 'GET,POST'}">

                <div class="galeryContainer">

                        <div class="galeryImage">
                            <f:for each="{paginatedCarpets}" as="carpet">
                                <f:if condition="{carpet.images.0.uid}">
                                    <f:link.action pageUid="10" class="dataItem" action="show" arguments="{carpet : carpet}"><f:image class="galeryImage" src="{carpet.images.0.uid}" treatIdAsReference="true" width="1200"/></f:link.action>
                                </f:if>
                            </f:for>
                        </div>

                </div>
            </f:widget.paginate>
        </f:then>
    </f:if>
