<html xmlns:f="http://xsd.webwaren.ch/fluid-7.6.0.xsd">
<head>
	<link rel="stylesheet" type="text/css" href="typo3conf/ext/ww_template/Resources/Public/Stylesheets/ext/bootstrap.css" media="all">
</head>
<f:layout name="Default" />

<f:section name="main">

    <f:render partial="Carpet/search" arguments="{partner:partner,collection:collection,countries:countries,arts:arts,materials:materials,colors:colors,
                                                    filterPartner:filterPartner,filterCollection:filterCollection,filter:filter}"/>
</div>
<f:render partial="Carpet/CountResults" arguments="{carpets:carpets}" />

    <f:if condition="{carpets}">
        <f:then>

            <f:widget.paginate objects="{carpets}" as="paginatedEvents"
                               configuration="{itemsPerPage: 15, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 10, addQueryStringMethod: 'GET,POST'}">
                <div class="galeryContainer">
                    <f:for each="{paginatedEvents}" as="carpet" iteration="eventIterator">
                        <f:if condition="{carpet.images.0.uid}">
                            <f:link.action class="dataItem" action="show" arguments="{carpet : carpet}"><f:image class="galeryImage" src="{carpet.images.0.uid}" treatIdAsReference="true" width="800"/></f:link.action>
                        </f:if>
                    </f:for>
                </div>
            </f:widget.paginate>
        </f:then>
    </f:if>

</f:section>
</html>