
<f:layout name="Default" />

<f:section name="main">

<f:flashMessages />
  <f:render partial="Carpet/Properties" arguments="{carpet:carpet,brands:brands,brands2:brands2,group:group}" />
</f:section>
