{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Default" />
<f:section name="Main">

	<div id="contents">

		<div id="tray2">
			<div id="content">
				<f:format.raw>
					{mainContent}
				</f:format.raw>
			</div>
		</div>

	</div>


</f:section>
</html>
