{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Default" />
<f:section name="Main">

	<div id="contents">

		<div id="tray2">
			<h2 class="hide">
				{f:translate(key: 'LLL:EXT:ww_template/Resources/Private/Language/locallang.xlf:allaccess.content')}
			</h2>
			<div id="headerImage" style="<f:cObject typoscriptObjectPath="lib.headerImages" />"></div>
		<div id="content" class="haendler">
			<f:format.raw>
				{mainContent}
			</f:format.raw>
		</div>
	</div>

	</div>

	<div id="footer" class="container">
		<f:format.raw>
			{footerContent}
		</f:format.raw>
	</div>
</f:section>
</html>
