<f:if condition="{data.header}">
	<div class="col-md-8 col-md-offset-2">
		<div class="layout-{data.layout}">
			<f:switch expression="{data.header_layout}">
				<f:case value="1">
					<h1><f:format.nl2br><f:link.typolink parameter="{header_link}">{data.header}</f:link.typolink></f:format.nl2br></h1>
				</f:case>
				<f:case value="2">
					<h2><f:format.nl2br><f:link.typolink parameter="{header_link}">{data.header}</f:link.typolink></f:format.nl2br></h2>
				</f:case>
				<f:case value="3">
					<h2 class="underline"><f:format.nl2br><f:link.typolink parameter="{header_link}">{data.header}</f:link.typolink></f:format.nl2br></h2>
				</f:case>
				<f:case value="4">
					<h3><f:format.nl2br><f:link.typolink parameter="{header_link}">{data.header}</f:link.typolink></f:format.nl2br></h3>
				</f:case>
				<f:case value="5">
					<h2 id="m{data.uid}" class="waypoint5"><f:format.nl2br><f:link.typolink parameter="{header_link}">{data.header}</f:link.typolink></f:format.nl2br></h2>
				</f:case>
				<f:case value="6">
					<h5><f:format.nl2br><f:link.typolink parameter="{header_link}">{data.header}</f:link.typolink></f:format.nl2br></h5>
				</f:case>
				<f:case value="7">
					<h3 class="subheader"><f:format.nl2br><f:link.typolink parameter="{header_link}">{data.subheader}</f:link.typolink></f:format.nl2br></h3>
					<h2 class="mainsubheader"><f:format.nl2br><f:link.typolink parameter="{header_link}">{data.header}</f:link.typolink></f:format.nl2br></h2>
				</f:case>
				<f:case value="8">
					<h1 class="intent"><f:format.nl2br><f:link.typolink parameter="{header_link}">{data.header}</f:link.typolink></f:format.nl2br></h1>
				</f:case>
				<f:case value="100">
					<f:comment> -- do not show header -- </f:comment>
				</f:case>
				<f:case default="true">
					<f:if condition="{default}">
						<f:render partial="Header/Header" arguments="{
							data : data
							header: data.header,
							layout: data.header_layout,
							link: data.header_link}" />

					</f:if>
					<f:else>
						<f:if condition="{data.header}">
							<h2><f:link.typolink parameter="{data.header_link}">{data.header}</f:link.typolink></h2>
						</f:if>
					</f:else>
				</f:case>
			</f:switch>
		</div>
	</div>
</f:if>

