{namespace ce=TYPO3\CMS\FluidStyledContent\ViewHelpers}
<div class="container">
	<f:if condition="{gallery.rows}">
		<div class="ce-gallery{f:if(condition: data.imageborder, then: ' ce-border')}" data-ce-columns="{gallery.count.columns}" data-ce-images="{gallery.count.files}">
			<f:if condition="{gallery.position.horizontal} == 'center'">
				<div class="ce-outer">
					<div class="ce-inner">
			</f:if>
			<f:for each="{gallery.rows}" as="row">
				<div class="ce-row row">

					<f:for each="{row.columns}" as="column" iteration="iterator">
						<f:if condition="{column.media}">
							<f:switch expression="{data.imagecols}">
								<f:case value="1">
									<div class="ce-column ce-column{iterator.index} col-md-12">
								</f:case>
								<f:case value="2">
									<div class="ce-column ce-column{iterator.index} col-md-6">
								</f:case>
								<f:case value="3">
									<div class="ce-column ce-column{iterator.index} col-md-4">
								</f:case>
								<f:case value="4">
									<div class="ce-column ce-column{iterator.index} col-md-3">
								</f:case>
								<f:case value="6">
									<div class="ce-column ce-column{iterator.index} col-md-2">
								</f:case>
								<f:case default="true">
									<div class="ce-column ce-column{iterator.index} col-md-12">
								</f:case>
							</f:switch>

							<f:if condition="{column.media.description}">
								<f:then>
									<figure>
								</f:then>
								<f:else>

									<div class="ce-media">

								</f:else>
							</f:if>

							<f:switch expression="{column.media.type}">
								<f:case value="3">
									<f:render section="audioType" arguments="{_all}" />
								</f:case>
								<f:case value="4">
									<f:render section="videoType" arguments="{_all}" />
								</f:case>
								<f:case default="TRUE">
									<f:render section="imageType" arguments="{_all}" />
								</f:case>
							</f:switch>

							<f:if condition="{column.media.description}">
								<f:then>
									<figcaption>
										{column.media.description}
									</figcaption>
									</figure>
								</f:then>
								<f:else>
				</div>
				</f:else>
	</f:if>
</div>
</f:if>
</f:for>
</div>
</f:for>
<f:if condition="{gallery.position.horizontal} == 'center'">
	</div>
	</div>
</f:if>
</div>
</f:if>

<f:section name="imageType">
	<f:if condition="{column.media.link}">
		<f:then>
			<f:link.typolink parameter="{column.media.link}">
				<f:render section="media" arguments="{_all}" />
			</f:link.typolink>
		</f:then>
		<f:else>
			<f:if condition="{data.image_zoom}">
				<f:then>

					<ce:link.clickEnlarge image="{column.media.originalFile}" configuration="{settings.media.popup}">
						<f:render section="media" arguments="{_all}" />
					</ce:link.clickEnlarge>
				</f:then>
				<f:else>
					<f:render section="media" arguments="{_all}" />
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</f:section>

<f:section name="audioType">
	<f:render section="media" arguments="{_all}" />
</f:section>

<f:section name="videoType">
	<f:render section="media" arguments="{_all}" />
</f:section>

<f:section name="media">
	<f:if condition="{column.media.originalFile.properties.type}==2">
		<f:then>
			<f:if condition="{column.dimensions.width} > {column.dimensions.height}">
				<f:then>
					<figure class="image landscape" {f:if(condition:'{data.imagewidth} > 0',then:'style="width:{data.imagewidth}px;"')} >
				</f:then>
				<f:else>
					<figure class="image portrait" {f:if(condition:'{data.imagewidth} > 0',then:'style="width:{data.imagewidth}px;"')} >
				</f:else>
			</f:if>
			<img src="/typo3conf/ext/ww_template/Resources/Public/Images/transparent.png"
				 class="lazy img-responsive"
				 data-src="{f:uri.image(treatIdAsReference: 'true' , src : column.media.uid)}"
				 data-bigger="{f:uri.image(treatIdAsReference: 'true' , src : column.media.uid,width:'1140')}"
				 data-large="{f:uri.image(treatIdAsReference: 'true' , src : column.media.uid, width:'940')}"
				 data-medium="{f:uri.image(treatIdAsReference: 'true' , src : column.media.uid, width:'720')}"
				 data-small="{f:uri.image(treatIdAsReference: 'true' , src : column.media.uid, width:'320')}"
				 alt="{column.media.alternative}"
				 title="{column.media.title}"
			/>
			<noscript>
				<f:image treatIdAsReference="true" src="{column.media.uid}" alt="{column.media.alternative}" title="{column.media.title}" />
			</noscript>

			</figure>


		</f:then>
		<f:else>
			<div class="videoWrapper">
				<f:media
						file="{column.media}"
						width="630"
						height="300"
						alt="{column.media.alternative}"
						title="{column.media.title}"
				/>
			</div>
		</f:else>
	</f:if>

</f:section>

</div>
