/*scss Vars*/
$colorRotHover: #FDAFA0;
//$colorRot: #e6665f;
$colorRot: #FD665C;
$colorBlau: #5acee0;

h1, h1 a, h2, h2 a,h3, h3 a{
  font-family: "Circular-Bold";

  font-size: 30px;
  font-weight: normal;
  line-height: 37px;


  margin-bottom: 25px;
}
h1 p {
  margin: 0;
}

h2.underline {
  border-bottom: 1px solid #fff;
  color: #fff;
}
h3 {
  margin: 0;
}
p {
  margin: 0 0 24px;
}
.ce-bodytext a {
  text-decoration: underline;
}
.ce-bodytext a:hover {
  color: #fff;
  text-decoration: none;
}
.alert {
  margin-bottom: 0;
}

.image {
  margin-bottom: 20px;
}

.image-wrap {
  max-width: 100%;
}
.image-below .image-wrap {
  margin-top: 20px;
}
.image-center-outer {
  width: 100%;
  position: relative;
  float: right;
  right: 50%;
}
.image-center-inner {
  width: 100%;
  position: relative;
  float: right;
  right: -50%;
}
.image-left .image-wrap {
  float: left;
}
.image-left .text {
  clear: left;
}
.image-right .image-wrap {
  float: right;
}
.image-right .text {
  clear: right;
}
.image-wrap:before,
.image-below:before,
.image-above:before,
.image-beside:before,
.image-intext:before,
.image-wrap:after,
.image-below:after,
.image-above:after,
.image-beside:after,
.image-intext:after {
  content: " ";
  display: table;
}
.image-wrap:after,
.image-below:after,
.image-above:after,
.image-beside:after,
.image-intext:after {
  clear: both;
}
.image-wrap:before,
.image-below:before,
.image-above:before,
.image-beside:before,
.image-intext:before,
.image-wrap:after,
.image-below:after,
.image-above:after,
.image-beside:after,
.image-intext:after {
  content: " ";
  display: table;
}
.image-wrap:after,
.image-below:after,
.image-above:after,
.image-beside:after,
.image-intext:after {
  clear: both;
}
.image-beside-left .image-wrap,
.image-intext-left .image-wrap {
  float: left;
  margin-left: -15px;
}
.image-beside-right .image-wrap,
.image-intext-right .image-wrap {
  float: right;
  margin-right: -15px;
}
.image-beside-left .image-wrap,
.image-beside-right .image-wrap,
.image-intext-left .image-wrap,
.image-intext-right .image-wrap {
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}
.image-beside-right,
.image-beside-left {
  overflow: hidden;
  zoom: 1;
}
.image-beside-right .text,
.image-beside-left .text {
  overflow: hidden;
  zoom: 1;
}
@media (max-width: 767px) {
  .image-beside-right .image-wrap,
  .image-beside-left .image-wrap {
	margin-left: -15px;
	margin-right: -15px;
	max-width: none;
	float: none;
  }
}

.indent {
  margin-left: 20px;
}



/*Table Definitions*/
.contenttable-0 {
  width: 100%;
}

.contenttable-0 .td-0{
  font-weight: bold;
}
.contenttable-0 .tr-0 td {
  border-bottom: 1px solid #999;
}

.contenttable-0 .td-0 {
  width: 197px;
}
.contenttable-0 .td-1 {
  width: 197px;
}

.contenttable-0 td,
.contenttable-0 th{
  padding: 4px;
}

.contenttable-0 .tr-odd .td-0,
.contenttable-0 .tr-odd .td-1,
.contenttable-0 .tr-odd .td-2,
.contenttable-0 .tr-odd .td-3,
.contenttable-0 .tr-odd .td-4 {
  background: #EFEFEF;
}

/*Table Definitions*/
.contenttable {
  padding: 0;
  margin: 10px 0 30px 0;
}

.contenttable td {
  padding: 5px 0;
  margin: 0;
}

.contenttable .bodytext{
  padding: 0;
  margin: 0;
}

.contenttable caption {
  margin-bottom:10px;
}

.contenttable tr > td:first-child {
  /*width: 350px;*/
}

.contenttable-1 {
  width: 100%;
}

.contenttable-1 .td-0{
  font-weight: bold;
}


.contenttable-1 .tr-0 td {
  border-bottom: 1px solid #999;
}

.contenttable-1 .td-0 {
  width: 150px;
}

.contenttable-1 .td-1 {
  width: 150px;
}

.contenttable-1 td,
.contenttable-0 th {
  padding: 4px;
}

.contenttable-1 .tr-even .td-1,
.contenttable-1 .tr-even .td-2 {
  background: #EFEFEF;
}

.galery {
  background: $colorRot;
  padding: 50px 0;
}
.ce {
  background: $colorRot;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ce.layout-31 {
  background: $colorBlau;
}

.ce.layout-32 {
  background: #fff;
}

.ce .ce {
  padding-top: 0;
  padding-bottom: 0;
}
.ce-bodytext ul,
.ce-bodytext ol{
  padding-left: 30px;
}

/*
.ce-bodytext ul { 
  list-style-type: none; 
  margin-left: 0; 
  padding-left: 20px; 
} 
 .ce-bodytext ul li { 
	//padding-left: 15px; 
   	text-indent: -20px; 
 } 
	.ce-bodytext ul li:before { 
	  content: "–"; 
	  text-indent: -15px; 
	  margin-right: 5px; 
   } 
*/


