html body {
    background: none;
}
#outerDiv {
    background: none;
}
#logo img {
    display: block;
}

#logo {
    background: none;
}

#metaNav{
    display: none;
}

#mainNav {
    display: none;
}

#tray1 {
    display: none;
}
#contents {
    margin-left: 0;
}
#iso {
    display: none;
}
#footerNavUL {
    display: none;
}
span.pull-right {
    display: none;
}
.container {
    width: 1024px;
}
/*
a[href]:after {
    content: "";
}*/
