$colorRotHover: #FDAFA0;
//$colorRot: #e6665f;
$colorRot: #FD665C;
$colorRotLight: #FAE1E0;
$colorBlau: #5acee0;
$colorGelb: #FFBA5C;



@font-face {
  font-family: "Circular-Bold";
  src:url("../Fonts/lineto-circular-bold.eot");
  src:url("../Fonts/lineto-circular-bold.eot?#iefix") format("embedded-opentype"),
  url("../Fonts/lineto-circular-bold.woff2") format("woff2"),
  url("../Fonts/lineto-circular-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


/* Subsetted */

@font-face {
  font-family: "Circular-Bold-S";
  src:url("../Fonts/fonts_subsetted/lineto-circular-bold.eot");
  src:url("../Fonts/fonts_subsetted/lineto-circular-bold.eot?#iefix") format("embedded-opentype"),
  url("../Fonts/fonts_subsetted/lineto-circular-bold.woff2") format("woff2"),
  url("../Fonts/fonts_subsetted/lineto-circular-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: "Circular-Book";
  src:url("../Fonts/lineto-circular-book.eot");
  src:url("../Fonts/lineto-circular-book.eot?#iefix") format("embedded-opentype"),
  url("../Fonts/lineto-circular-book.woff2") format("woff2"),
  url("../Fonts/lineto-circular-book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


/* Subsetted */

@font-face {
  font-family: "Circular-Book-S";
  src:url("../Fonts/fonts_subsetted/lineto-circular-book.eot");
  src:url("../Fonts/fonts_subsetted/lineto-circular-book.eot?#iefix") format("embedded-opentype"),
  url("../Fonts/fonts_subsetted/lineto-circular-book.woff2") format("woff2"),
  url("../Fonts/fonts_subsetted/lineto-circular-book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


/*static styles*/

* {
  outline: none !important;
}

html {
  /*overflow-x: hidden;*/
  /*overflow-y: scroll;*/

  /*Safari*/
  -webkit-font-smoothing: antialiased;
  /*Firefox*/
  -moz-osx-font-smoothing: grayscale;
  /*Chrome*/
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  	font-family: "Circular-Book";
  	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	text-align: left;
    margin: 0;
    padding: 0;
    padding-right: 0 !important;
}
body.modal-open {
  overflow-y: scroll;
}
a,a:visited,a:focus  {
  text-decoration: none;
  //color: #807f7f;
  color: inherit;
  outline:none;

  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

a:hover {
  color: #c9c9c9;
  text-decoration: none;
}

html , body {
  height: 100%;
}


.hide {
  display: none;
}


.mobile {
  display: none;
}


.clear {
  clear: both;
}

div.csc-textpic .csc-textpic-imagewrap img.lazy {
  display: none;
}

img.lazy {
  display: none;
  transition: opacity 0.3s ease-in 0s;

  max-width: 100%;
  width: 100%;
  height: auto;
  /* and for IE 8 */
  width: auto\9;

}
.haendler .ce-gallery,
.haendler .row{
  overflow: visible;
}

.csc-textpic-image {
  width: 100%;
}
div.csc-textpic-center .csc-textpic-imagewrap, div.csc-textpic-center figure.csc-textpic-imagewrap {
  width: 100%;
}

div.csc-textpic, div.csc-textpic div.csc-textpic-imagerow, ul.csc-uploads li {
  overflow: visible;
}

input, select,textarea {
  border: 1px solid #666;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

#content {
	//padding-bottom: 25px;
}

#content legend {
  margin: 0;
  padding: 0;
}




.container .container {
  width: inherit;

}

.col-md-offset-2 .col-md-offset-2 {
  margin: 0;
}
.col-md-offset-2 .col-md-8 {
  width: 100%;
}
.col-md-offset-2 .container {
  padding: 0;
}
.col-md-offset-2 .container .col-md-12 {
  padding: 0;
}
.col-md-6 .col-md-offset-2 {
  margin: 0;
}

/*grid modifications*/
.multicolumnContainer {
  //margin-bottom: 95px;
  //margin-top: 35px;
}
.ce.multicolumnContainer,
.ce .ce {
  padding: 0;
}

.haendler .ce.multicolumnContainer {
  padding: 50px 0;
}


/*default fluid styles*/
.ce-align-left { text-align: left; }
.ce-align-center { text-align: center; }
.ce-align-right { text-align: right; }

.ce-table td, .ce-table th { vertical-align: top; }

.ce-textpic, .ce-nowrap .ce-bodytext, .ce-gallery, .ce-row, .ce-uploads li, .ce-uploads div { overflow: hidden; }

.ce-left .ce-gallery, .ce-column { float: left; }
.ce-center .ce-outer { position: relative; float: right; right: 50%; }
.ce-center .ce-inner { position: relative; float: right; right: -50%; }
.ce-center .row {
  margin: 0;
}
.ce-right .ce-gallery { float: right; }

/*.ce-gallery figure { display: table; margin: 0; }*/
.ce-gallery figcaption { display: table-caption; caption-side: bottom; width: 100%;}
.ce-gallery img { display: block; }
.ce-gallery iframe { border-width: 0; }
.ce-border img,

.ce-row:last-child { margin-bottom: 0; }

.ce-above .ce-bodytext { clear: both; }

.ce-intext.ce-left ol, .ce-intext.ce-left ul { padding-left: 40px; overflow: auto; }

.ce-uploads { margin: 0; padding: 0; }
.ce-uploads li { list-style: none outside none; margin: 1em 0; }
.ce-uploads img { float: left; padding-right: 1em; vertical-align: top; }
.ce-uploads span { display: block; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 10px;
  padding-right: 10px;
}


/*graphic styles*/

#outerDiv {
  margin: 0 0 0 0;
  height: 100%;
}
#outerContainer {

}
#contents {
  	height: 100%;
	padding-top: 60px;
}
#tray2 {

}
#content {

}
#contentNormal {

}

#header {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 60px;
  background: #fff;
}
	#searchBoxLayer {

	}

	#hamburger {
	  z-index: 2;
	  display: block;
	  position: fixed;
	  width: 22px;
	  height: 22px;
	  background: url("../Images/hamburger.png") no-repeat center center;
	  background-size: 22px 20px;
	  background-size: 22px 20px;
	  cursor: pointer;
	  margin-left: 25px;
	  margin-top: 20px;
	}



	#logoBig {
	  width: 100%;
	  height: 85px;
	  background: url("../Images/Logo.png") no-repeat 130px center;
	  background-size: 90px 59px;
	}
		#logoBig a {
		  display: block;
		  width: 90px;
		  height: 85px;
			margin-left: 130px;
		}

	#logoSmall a {
	  position: fixed;
	  left: 144px;
	  display: block;
	  text-indent: -9999px;
	  width: 38px;
	  height: 50px;
	  background: url("../Images/logoSmall.png") no-repeat center center;
	  background-size: 38px 20px;

	  margin-top: 9px;
	  margin-left: 4px;
      transition: none;
	}



  .sidr #close {
	position: absolute;

	width: 22px;
	height: 22px;
	background: url("../Images/close.png") no-repeat center center;
	background-size: 22px 22px;

	margin-top: 20px;
	margin-left: 25px;

	cursor: pointer;
  }

  .sidr {

	font-size: 33px;
	line-height: 37px;
	background: #fff;

	color: #000;
	display: none;

	height: 100%;

	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	position: fixed;
	top: 0;
	right: auto;
	/*right: -320px;*/
	width: 265px;
	z-index: 999999;
	padding-left: 0px;

	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);

  }
  .sidr .sidr-inner
  {
	padding: 0 0 15px;
  }

  .sidr .sidr-inner>p
  {
	margin-left: 15px;
	margin-right: 15px;
  }

  .sidr.right
  {
	left: -265px;
	right: auto;
  }

  .sidr ul, .sidr ul li ul
  {
	display: block;
	margin: 0 0 15px;
	padding: 0;
  }
  /*
  .sidr ul li a {
	  line-height:20px;
  }
  */
  .sidr ul li, .sidr ul li ul li
  {
	display: block;
	//line-height: 48px;
	margin: 0;
  }

  .sidr ul li:hover>a,
  .sidr ul li:hover>span,
  .sidr ul li.active>a,
  .sidr ul li.active>span,
  .sidr ul li.sidr-class-active>a,
  .sidr ul li.sidr-class-active>span

  {
	color: $colorRotHover;
  }


  .sidr nav {

	border-radius: 0;
  }
  .mainNav ul {
	list-style-type: none;
  }
  .menu {
	background: $colorRot;
	padding-top: 10px;
	padding-bottom: 40px;
  }
  .mainNav li{
    pointer-events: none;
  }
  .mainNav li a {
	color: #fff;
	font-size: 30px;
	line-height: 37px;
	font-weight: 700;
    pointer-events: auto;
  }
	.mainNav li a:hover {
	  text-decoration: none;
	}
  .mainNav li.cur > a,
  .mainNav li.act > a {
	color: $colorRotHover;
  }
  .mainNav li li a,
  .langNav li a{
	font-size: 15px;
	line-height:21px;
	font-weight: 400;
  }
  .mainNav li  {
	line-height:40px;
  }
  .mainNav li li {
	line-height:21px;
  }
	.mainNav li ul {
	  padding-left: 15px !important;
	}
  .langNav {
	margin-left: 15px;
  }
  .langNav ul {
	list-style-type: none;
  }
  .langNav ul li {
	float: left;
	margin-right: 10px;
  }
	.langNav ul li a {
	  color: #fff;
	}
	.langNav ul li.cur a {
		color: $colorRotHover;
	}

	#level {
	  float: left;
	  margin: 20px 50px;

	}

	#secondNavUL {
	  list-style-type: none;
	  margin: 20px 10px;
	  padding: 0;
	}
		#secondNavUL li {
		  float: left;
		  border-right: 1px solid;
		  padding-right: 10px;
		  margin-right: 10px;
		  border-color: $colorRotHover;
		}
		#secondNavUL li.last {
			border: none;
		}
		#secondNavUL li a {
			color: $colorRotHover;
		}
		#secondNavUL li.cur a,
		#secondNavUL li.act a,
		#secondNavUL li a:hover,
		#level a{
		  color: $colorRot;
		}

		#land {

		}

		.karte {

		  	position: absolute;
			margin-top: 80px;
			width: 59px;
			height: 50px;

			background-color: $colorRot;
			background-image: url("../Images/land.png");
			background-repeat: no-repeat;
			background-size: 59px 50px;
background-position: top left;
		}

		.sidr .mail {
		  font-size: 14px;
		  color: $colorRot;
		  margin-top: 15px;
		  margin-left: 15px;
		}

		.socialMedia {
		  margin-top: 10px;
		  margin-left: 15px;
		}
		.socialMedia .facebook {
		  float: left;
		  margin-right: 10px;
		  background: url("../Images/fb.png") no-repeat center center;
		  background-size: 25px 25px;
		}
			.socialMedia .facebook a {
			  display: block;
			  text-indent: -9999px;
			  width: 25px;
			  height: 25px;
			}

		  .socialMedia .pintrest {
			float: left;
			margin-right: 10px;
			background: url("../Images/pintrest.png") no-repeat center center;
			background-size: 25px 25px;
		  }
		  .socialMedia .pintrest a {
			display: block;
			text-indent: -9999px;
			width: 25px;
			height: 25px;
		  }

.galeryContainer {
  margin: 50px auto;

}
.galeryImage {
  width: 32%;
  height: auto;
  padding: 2px;

}

.carpetDetail {
  margin-top: 50px;
}
	.carpetDetail .absolute {
	  position: absolute;
	  left: 0;
	  width: 50%;
	}

.galeryImage img {
  max-width: 100%;
  width: 100%;
  height: auto;
  /* and for IE 8 */
  width: auto\9;
  margin-bottom: 5px;
}

#headerImage {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: top center;
}
.pid1 #headerImage {
  width: 100%;
  height: 100%;
}
.standard {
  background: $colorRot;
}
.standard #headerImage {
	background: $colorRot;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
	margin: 50px 0;
}
.land .galeryImage {
	width: 32%;
}

#outerContainer,
#tray2 {
  height: 100%;
}

#interlude {
  display: none;
  z-index: 1;
  position: absolute;

  background: #fff;
  width: 100%;
  height: 385px;

  transition: 0.75s ease-in-out;

}
.pid1 #interlude {
  display: block;
}
#interlude h1 {
  color: $colorRot;
  font-size: 59px;
  line-height: 65px;
  margin-left: 130px;
  margin-top: 12px;
  letter-spacing: 0.5px;
}

.toTop a {
  z-index: 111;
  display: block;
  text-indent: -99999px;
  background: url("../Images/toTop.png") no-repeat center center;
  background-size: 49px 22px;
  margin-top: 50px;
}

#countries,
#retailers{
  margin-top: 45px;
}
#countries .row,
#retailers .row {
  margin-bottom: 45px;
}

  #countries label,
  #retailers label {
	font-size: 20px;
    font-weight: normal;
	line-height: 24px;
	color: $colorRot;
	font-weight: 700;
	margin-bottom: 20px;
  }
  #countries input,
  #retailers input{
	color: $colorRot;
  }

  .filterItem label {
      font-weight: normal !important;
  }

  input[type="checkbox"] {
	display:none;
  }
  #countries input[type="checkbox"] + label,
  #retailers input[type="checkbox"] + label{
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 0;
  }

  input[type="checkbox"] + label span {
	display: none;
  }
  input[type="checkbox"]:checked + label span {
	display:inline-block;
	width:19px;
	height:19px;
	margin:-1px 4px 0 0;
	vertical-align:middle;
	cursor:pointer;
	background: url("../Images/checkBox.png") no-repeat right center;
	background-size: 11px 13px;
  }
  #countries input[type="checkbox"]:checked + label,
  #retailers input[type="checkbox"]:checked + label{
	color: #000;
  }


  .select-style {
	padding: 0;
	margin: 0;
	border: none;
	width: 100%;

	overflow: hidden;

	background: url("../Images/selectBox.png") no-repeat 90% 50%  $colorRotLight;
	background-size: 10px 17px;
	color: $colorRot;
  }

  .select-style select {

	padding: 5px 8px;
	width: 100%;
	border: none;
	box-shadow: none;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: $colorRot;

  }

  .select-style select:focus {
	outline: none;
  }



  .galeryContainer {
	width: 100%;
  }
  .standard .galeryContainer,
  .land .galeryContainer{
	width: 1170px;
	padding: 0;
  }

  .standard .ce {
	padding: 0;
  }

  .f3-widget-paginator li {
	display: none;
  }
  .f3-widget-paginator li.next {
	display: block;
  }

  .brandThumb {
	max-width: 120px;
	height: auto;
  }
  .landscape{
    width:600px !important;
    padding-left:6px;
  }

  .landscape img,
  .haendler figure.portrait img {
    max-height:120px;
    min-height:82px;
    width:auto;
  }
  #map {
	min-width: 1024px;
	min-height: 768px;
  }
  #listRetail {
	  margin-top:-20px;

  }
  	//.haendler #map {
	//  max-width: 100%;
	//  max-height:100%;
	//  min-width: inherit;
	//  min-height: inherit;
	//}

  .wwstep_pi1 {
	margin-bottom: 100px;
  }
  .wwstep_pi1 .image {
	max-width:100%;
	height: auto;
  }

  .standard {
	#browseNav {

	}
	#browseNav ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	}
	#browseNav a {
	  display: block;
	  position: absolute;
	  left: 15px;
	  top: 300px;
	  background: url("../Images/pfeilLinks.png") no-repeat center center;
	  background-size: 22px 39px;
	  text-indent: -9999px;
	  width: 22px;
	  height: 39px;
	}
	#browseNav .rightnav a {

	  display: block;
	  left: auto;
	  right: 15px;
	  background: url("../Images/pfeilRechts.png") no-repeat center center;
	  background-size: 22px 39px;
	}
  }
  .standardOverview {
	background: $colorRot;
  }
  .ce-menu-1 {
	margin-top: 50px;
	list-style-type: none;
	width: 100%;
	height: 100%;

	li {
	  height: 260px;
	  width: 17%;
	  float: left;
	  border-bottom: 1px solid #fff;
	  margin: 25px 15px;
	}
	li a {
	  color: #fff;
	  text-align: center;
	  vertical-align: top;
	  padding-bottom: 20px;
      display: block;
      transition: none;
	}
	li img {
	  max-width: 100%;
	  height: auto;
	}

	.sectionImage {
	  height: 0;
	  width: 100%;
	  margin: 0;
      padding-bottom: 100%;
	  background-size: contain;
	  background-position: center;
	  background-repeat: no-repeat;
	}

  }

	#retailersList {
	  margin-top: 45px;
	}

	#retailersList .reset,
	#retailersList .searchBtn {
	  background: $colorRot;
	  color: #fff;
	  display: inline-block;
	  padding: 10px 50px;
	}
		#retailersList .reset:hover,
		#retailersList .searchBtn:hover{
		  color: $colorRot;
		  background-color: $colorRotLight;
		}
		#retailersList .reset a:hover,
		#retailersList .searchBtn a:hover{
		  color: $colorRot;
		}

	.gm-style .gm-style-iw {
	  	font-size: 13px;
		line-height: 16px;
	  	font-weight: normal;
	}
	.gm-style {
	  font-family: inherit;
	}


	/*news*/
	.hdr-left,
	.hdr-right {
		background-color: $colorRot;
		//height: 500px;
	  	color: #fff;
        border-bottom: 2px #fff solid;
	}

    .list2-subdiv-hdr:last-of-type {
        div.hdr-right {
            border: none;
        }
    }

	.news-list2-container {
		.row {
		  display: flex;
          flex-direction: row;
		}

		.col-md-6 {
		  //max-height: 500px;
		  padding: 0;
		  overflow: hidden;

		}
	  	.text {
		  padding: 80px;
		  background: $colorRot;
		}

        .image {
            margin-bottom: 0;

            a {
                display: block;
                width: 100%;
                height: 100%;

                img {
                    display: none;
                }

                .resized-img {
                    position: relative;
                    width: 100%;
                    height: 0;
                    padding-bottom: 100%;
                    display: block;
                }
            }
        }

		  	.news-list-date,
		  	.title,
	  		.header {
			  display: block;
			  width: 100%;
			}
	  .news-list-morelink {
		color: #fff;
	  }
	  	.news-list-morelink a {
			color: #fff;
		  	text-decoration: none;
			border-bottom: 1px solid;
	  	}
		.news-list-date {
		  padding-bottom: 10px;
		  margin-bottom: 40px;
		  border-bottom: 1px solid #ffffff;
		}
	}
	.news-single-item {
	  background-color: $colorRot;

	  .row {
		padding: 0;
        margin: 0 !important;
	  }
	  .news-single-imgcaption {
		display: none;
	  }
	  .col-md-6.right {
		padding: 60px;
		background-color: $colorRot;
		color: #fff;
	  }
	  .col-md-6 {
		padding: 0;
	  }
	  .news-list-date {
		padding-bottom: 10px;
		margin-bottom: 40px;
		border-bottom: 1px solid #ffffff;
	  }

      .news-single-img {
          img {
              display: none;
          }

          div.resized-img {
              width: 100%;
              height: 0;
              padding-bottom: 100vh;
          }
      }
	}
	.pid58 #tray2 {
	  background: $colorRot;
	}

	.mfp-arrow:after,
	.mfp-arrow:before {
		display: none !important;
	}

	body .mfp-arrow,
	body .mfp-arrow {
	  display: block !important;
	  position: absolute !important;
	  left: 15px !important;
	  top: 300px !important;
	  background: url("../Images/pfeilLinks.png") no-repeat center center !important;
	  background-size: 22px 39px !important;
	  text-indent: -9999px !important;
	  width: 22px !important;
	  height: 39px !important;

	}
	body .mfp-arrow-right {
	  left: auto !important;
	  background: url("../Images/pfeilRechts.png") no-repeat center center !important;
	  background-size: 22px 39px !important;
	}

	.haendler .layout-32 .col-md-offset-2 {
	  margin-left: 30px;
	}

	.haendler .layout-32 .col-md-offset-2 .container {
		width: 33%;
	  	margin-left: 0;
	}

	.haendler .col-md-8 {
		width: 100%;
	}

	/*=========================================
		Google Charts
	=========================================*/


	.google-visualization-tooltip {
		padding: 0 !important;
		border: 2px solid #ffffff !important;
		text-align: center !important;
		background-color: rgb(230, 102, 95) !important;
		position: absolute !important;
		box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75) !important;
		font-size:  10px !important;

	}

	.google-visualization-tooltip-item-list {
		margin: 0 !important;
		padding: 0px !important;
	}



	.google-visualization-tooltip {
		margin-top: 25px !important;
		margin-left: 73px !important;
		z-index:+1 !important;
	}

	.google-visualization-tooltip-item, .google-visualization-tooltip-item:first-child {
		margin: 4px 11px 3px 9px !important;
		padding: 0 !important;
	}


	a.upload-pdf {
		background-image: url("/typo3conf/ext/ww_template/Resources/Public/Icons/FileIcons/pdf.png");
		background-size: 32px auto;
		background-repeat:no-repeat ;
		display: inline-block;
		height: 48px;
		line-height: 40px;
		padding-left: 50px;
	}

	.ce-bodytext ul.ce-uploads {
		padding-left:2px;
	}

	/*=========================================
	Search
	=========================================*/

	#searchBoxIcon {
		position: relative;
		z-index: 2;
		width: 44px;
		height: 44px;
		margin: 11px 25px 0px 26px;
		float: right;
		text-indent: -99999px;
		background: url(/typo3conf/ext/ww_template/Resources/Public/Images/lupe.png) no-repeat center right;
		background-size: 22px 22px;
		cursor: pointer;
	}

	#searchBoxLayer {
		z-index: 1000000000000;
		position: fixed;
		display: none;
		top: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		overflow-y: scroll !important;
		opacity: 0.95;
	}

	#searchBoxLayer #sword {
		display: block;
		width: 100%;
		text-align: center;
		border: 0px none;
		background: transparent none repeat scroll 0% 0%;
		font-size: 90px;
		line-height: 100px;
		font-weight: normal;
		letter-spacing: 4px;
		margin: 20% auto 0 auto;
	}

	#searchBoxLayer #closesearch {
		position: fixed;
		width: 22px;
		height: 22px;
		top: 22px;
		right: 25px;
		background: url(/typo3conf/ext/ww_template/Resources/Public/Images/close.png) no-repeat center center;
		cursor: pointer;
		background-size: 17px 17px;
	}

	#searchResults {
		position: relative;
		max-width: 600px;
		margin: 0 auto;
	}

	#searchResults .desc {
		background: transparent;
		font-size: 17px;
	}

	#searchResults h2 {
		background: transparent;
		line-height: 30px;
		margin-bottom: 0;
	}

	#searchResults h2 a {
		color: #FD665C;
		margin-bottom: 14px;
		display: inline-block;
		font-size: 22px;
	}

	.tx-indexedsearch-redMarkup {
		color: #FD665C;
		font-weight: normal;
	}


	.tx-indexedsearch .tx-indexedsearch-whatis {
		margin-bottom: 50px;
	}

	.tx-indexedsearch .tx-indexedsearch-whatis {
		margin-top: 10px;
		margin-bottom: 5px;
	}

	.tx-indexedsearch .tx-indexedsearch-noresults {
		text-align: center;
		font-weight: bold;
	}

	.tx-indexedsearch-browsebox {
		display:none;
	}

  /*=========================================
	  Media Queries
  =========================================*/

  @media screen and (max-width: 1200px) {
      .ce-menu-1 {
          padding: 0;

          li {
            height: auto;
            width: 50%;
            margin: 0;

            &:nth-child(9),&:nth-child(10) {
                border-bottom: none;
            }
          }
          li a {
            padding: 40px 0;
          }
      }
  }


  @media screen and (max-width: 1023px) {
	.carpetDetail .absolute {
	  position: relative;
	  left: auto;
	  width: 100%;
	}
	#level {
	  display: none;
	}
    #header #top {
        .col-md-8 {
            display: none;
        }
        #logoSmall a {
          left: 65px;
        }
    }
    #retailers form[name="filter"] {
        padding: 0 15px;
    }
    .carpetDetail > .row {
        margin-right: 0;
        margin-left: 0;
    }
}


  @media screen and (max-width: 991px) {
      .news-list2-container {
  		.row {
            flex-direction: column;
  		}
    }
    .wwstep_pi1 {
        padding: 0 12px;
    }
    .layout-0.wwstep_pi1 {
        padding: 0 13px;

        .row {
            margin-right: -25px;
            margin-left: -25px;
        }

        label {
            margin-top: 25px;
        }

        .filterItem label {
            margin-top: 0;
        }

        div.results {
            margin-left: -15px;
            margin-right: -15px;
        }

        .galeryContainer {
            margin-left: -5px;
            margin-right: -5px;

            .galeryImage {
                width: 32%;
            }
        }
    }

    .news-list2-container .text {
        padding: 40px;
    }

    .tx-ww-step {
        label {
            margin-top: 25px;
        }

        .filterItem label {
            margin-top: 0;
        }
    }

    .wwstep_pi2 #map {
        margin: 0 25px !important;
        width: calc(100% - 50px) !important;
        min-width: 0 !important;
        height: 0 !important;
        min-height: 0 !important;
        padding-bottom: calc(100% - 50px) !important;
    }

    .news-single-item {
        .news-single-img {
            div.resized-img {
                padding-bottom: 100%;
            }
        }
    }

    .news-single-item .col-md-6.right {
        padding: 50px 25px;
    }

    .ce {
        padding-top: 25px !important;
        padding-bottom: 25px !important;
    }
}

  @media screen and (max-width: 767px) {
      .wwgallery_pi1 {
          display: none;

          ~ .container {
              display: none;
          }
      }

      #interlude {
          height: auto;

          h1 {
              margin-left: 65px;

              p {
                  color: $colorRot;
                  font-size: 24px;
                  line-height: 1.5em;
                  margin-left: 0;
                  margin-top: 0;
                  letter-spacing: 0;
              }
         }
     }

     #logoBig {
         background-position: 65px center;
     }

     .pid1 #headerImage {
         height: 319px !important;
         margin: 0 auto !important;
     }

     #map {
         width: 100% !important;
         height: 0 !important;
         padding-bottom: 50%;
         min-width: 0;
         min-height: 0;
     }

     a.upload-pdf {
         line-height: 1.2em;
     }
}

  @media screen and (max-width: 479px) {
      .sidr {
    	width: 100%;
      }

      #headerImage {
        //width: calc(100% - 140px);
        margin: 0 !important;
        height: 320px !important;
    }

      .pid1 #headerImage {
          height: 319px !important;
          margin: 0 auto !important;
      }

      .standard #browseNav a {
          top: 170px;
      }

      #searchBoxLayer #sword {
          font-size: 30px;
          line-height: 1;
          letter-spacing: 0;
          margin: 0;
          padding: 100px 20px 0;
      }

      #map {
          padding-bottom: 100%;
      }

      .ce-menu-1 {
          padding: 0;

          li {
            height: auto;
            width: 100%;
            margin: 0;
            border-bottom: 1px solid #fff !important;

            &:last-child {
                border-bottom: none !important;
            }
          }

          li a {
            padding: 40px 0;
          }
      }

      .layout-0.wwstep_pi1 {
          .galeryContainer {
              margin-left: -5px;
              margin-right: -5px;

              .galeryImage {
                  width: 48%;
              }
          }
      }

      #listRetail div {
          width: 100%;
      }

    .pull-right {
        float: left !important;
        margin-bottom: 25px;
        width: 100%;
    }

    .news-list-date {
        .pull-right {
            float: none;
            margin-top: 22px;
            margin-bottom: 30px;
        }
    }

    .haendler .layout-32 .col-md-offset-2 {
        margin-left: 0;
    }

    .haendler .layout-32 .col-md-offset-2 .container {
        width: 100%;
    }

    .landscape {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 15px !important;
    }

    #content.haendler {
        .multicolumnContainer {
            padding-top: 5px;

            > .container {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    .landscape img, .haendler figure.portrait img {
        max-height: none;
        min-height: 0;
        width: 100%;
    }

    .galeryImage {
      width: 48%;
      height: auto;
      padding: 2px;
    }
}
