
<f:layout name="Default" />

<f:section name="main">
    <f:flashMessages />
    <f:render partial="Gallery/Properties" arguments="{galleries:galleries,height:image.height,width:image.width}"/>

</f:section>